<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Friends In Global Health</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openmrsPlatformVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.MpiActivator</activator>

    <!-- Required Modules -->
    <require_modules>
        <require_module version="${debeziumVersion}">org.openmrs.module.debezium</require_module>
    </require_modules>
    
    <!-- Global properties -->
    <globalProperty>
        <property>${project.parent.artifactId}.server.base.url</property>
        <description>
            Base server URL for OpenCR e.g. https://localhost:3000
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.keystore.path</property>
        <description>
            Path to the keystore containing the client certificate to use to authenticate with OpenCR
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.keystore.password</property>
        <description>
            Password for the keystore containing the client certificate to use to authenticate with OpenCR
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.keystore.type</property>
        <description>
            The type for the keystore containing the client certificate to use to authenticate with OpenCR
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.person.attribute.type.mobile.phone</property>
        <description>
            Specifies the uuid of the person attribute type for mobile phone number
        </description>
        <defaultValue>e2e3fd64-1d5f-11e0-b929-000c29ad1d07</defaultValue>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.person.attribute.type.home.phone</property>
        <description>
            Specifies the uuid of the person attribute type for home phone number
        </description>
        <defaultValue>e6c97a9d-a77b-401f-b06e-81900e21ed1d</defaultValue>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.relationship.type.terminology.system.uri</property>
        <description>
            Specifies the URI of the terminology system for the concepts mapped to relationship types in OpenMRS
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.relationship.type.personA.concept.mappings</property>
        <description>
            Comma-separated list of mappings between OpenMRS relationship type uuids for person A and concepts
            in the terminology system associated to the URI set via the global property named
            ${project.parent.artifactId}.relationship.type.concept.source.uri, should be of the form
            relationshipTypeUuid-1:conceptCode1:conceptDisplay1,relationshipTypeUuid-2:conceptCode2:conceptDisplay2
            e.g a5c97a9d-a77b-401f-b06e-81900e21ed1e:M:Mother,b7c97a9d-a77b-401f-b06e-81900e21ed1e:L:Lawyer
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.relationship.type.personB.concept.mappings</property>
        <description>
            Comma-separated list of mappings between OpenMRS relationship type uuids for person B and concepts
            in the terminology system associated to the URI set via the global property named
            ${project.parent.artifactId}.relationship.type.concept.source.uri, should be of the form
            relationshipTypeUuid-1:conceptCode1:conceptDisplay1,relationshipTypeUuid-2:conceptCode2:conceptDisplay2
            e.g a5c97a9d-a77b-401f-b06e-81900e21ed1e:CH:Child,b7c97a9d-a77b-401f-b06e-81900e21ed1e:CL:Client
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.identifier.type.terminology.system.uri</property>
        <description>
            Specifies the URI of the terminology system for the concepts mapped to patient identifier types in OpenMRS
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.identifier.type.concept.mappings</property>
        <description>
            Comma-separated list of mappings between OpenMRS patient identifier type uuids and concepts
            in the terminology system associated to the URI set via the global property named
            ${project.parent.artifactId}.identifier.type.concept.source.uri, should be of the form
            identifierTypeUuid-1:conceptCode1:conceptDisplay1,identifierTypeUuid-2:conceptCode2:conceptDisplay2
            e.g b6c97a9d-a77b-401f-b06e-81900e21ed1e:NID:National ID,c6c97a9d-a77b-401f-b06e-81900e21ed1e:SSN:Social
            Security Number
        </description>
    </globalProperty>

</module>

