<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Friends In Global Health</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openmrsPlatformVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.MpiActivator</activator>

    <!-- Required Modules -->
    <require_modules>
        <require_module version="${debeziumVersion}">org.openmrs.module.debezium</require_module>
    </require_modules>
    
    <!-- Global properties -->
    <globalProperty>
        <property>${project.parent.artifactId}.server.base.url</property>
        <description>
            Base server URL for OpenCR e.g. https://localhost:3000
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.keystore.path</property>
        <description>
            Path to the keystore containing the client certificate to use to authenticate with OpenCR
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.keystore.password</property>
        <description>
            Password for the keystore containing the client certificate to use to authenticate with OpenCR
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.keystore.type</property>
        <description>
            The type for the keystore containing the client certificate to use to authenticate with OpenCR
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.person.attribute.type.mobile.phone</property>
        <description>
            Specifies the uuid of the person attribute type for mobile phone number
        </description>
        <defaultValue>e2e3fd64-1d5f-11e0-b929-000c29ad1d07</defaultValue>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.person.attribute.type.home.phone</property>
        <description>
            Specifies the uuid of the person attribute type for home phone number
        </description>
        <defaultValue>e6c97a9d-a77b-401f-b06e-81900e21ed1d</defaultValue>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.patient.uuid.system.uri</property>
        <description>
            Specifies the URI of the namespace for the patient uuids, this will be set as the value of the system
            property for the patient uuid identifier. For OpenCR the value must match the internalId URL value defined
            in the OpenCR config file under the systems section. For Sante MPI it must match system value for an id domain.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.identifier.type.system.uri.mappings</property>
        <description>
            Comma-separated list of mappings between OpenMRS patient identifier type uuids and system URIs
            (identifier type namespaces), should be of the form identifierTypeUuid-1^systemUri1,identifierTypeUuid-2^systemUri2.
            The system URI values MUST match the URI values defined for the respective patient identifier types in the
            OpenCR config file under the systems section. The system URI for the NID patient identifier type MUST also
            match the values used in the OpenCR PatientRelationship.json and decisionRules.json files.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.initial.loading.batch.size</property>
        <description>
            Specifies the number of patients to process and submit in parallel to the MPI. Defaults to 10
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.initial.loading</property>
        <description>
            Specifies whether the module should perform initial loading.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.application.content.type</property>
	<description>
	    Specify the application content type which should be used when submiting the
	    request to the mpi system: for opencr: "application/json", for
	    santeMPI: "application/fhir+json"
	</description>
	    <defaultValue>application/fhir+json</defaultValue>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.authentication.type</property>
	<description>
	    Specify the authentication type used to authenticate to the mpi system. OpenCR: CERTIFICATE, SanteDB: OAUTH
	</description>
	<defaultValue>OAUTH</defaultValue>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.system</property>
	<description>
	    The MPI System. Could be "SANTEMPI" or "OPENCR"
	</description>
		<defaultValue>SANTEMPI</defaultValue>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.sante.db.client.id</property>
	<description>
	    The client_id which will be used to connect to the SanteMPI system
	</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.sante.db.client.secret</property>
        <description>
	     The secret of the client which will be used to connect to the SanteMPI system
	</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.sante.message.header.focus.reference</property>
	<defaultValue>metadata.epts.e-saude.net/bundle</defaultValue>
	<description>
	     The reference for Sante Message Header Bundle
	</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.sante.message.header.event.uri</property>
	<defaultValue>urn:ihe:iti:pmir:2019:patient-feed</defaultValue>
	<description>
	     The event URI for Sante Message Header Bundle
	</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.health.facility.id.system.uri</property>
        <description>
            Specifies the system URI for the identifier used for patient health facility, applies only to Sante MPI and
            it must match system value for an id domain.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.ficha.resumo.encounter.type.uuid</property>
        <description>
            Specifies the uuid of the ficha resumo encounter type.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.ficha.resumo.encounter.type.uuid</property>
        <description>
            Specifies the uuid of the ficha resumo encounter type.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.adult.clinical.process.encounter.type.uuid</property>
        <description>
            Specifies the uuid of the adult clinical process encounter type.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.child.clinical.process.encounter.type.uuid</property>
        <description>
            Specifies the uuid of the child clinical process encounter type.
        </description>
    </globalProperty>
</module>

