<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Friends In Global Health</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openmrsPlatformVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.MpiActivator</activator>

    <!-- Required Modules -->
    <require_modules>
        <require_module version="${debeziumVersion}">org.openmrs.module.debezium</require_module>
    </require_modules>
    
    <!-- Global properties -->
    <globalProperty>
        <property>${project.parent.artifactId}.server.base.url</property>
        <description>
            Base server URL for OpenCR e.g. https://localhost:3000
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.keystore.path</property>
        <description>
            Path to the keystore containing the client certificate to use to authenticate with OpenCR
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.keystore.password</property>
        <description>
            Password for the keystore containing the client certificate to use to authenticate with OpenCR
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.keystore.type</property>
        <description>
            The type for the keystore containing the client certificate to use to authenticate with OpenCR
        </description>
    </globalProperty>

</module>

